@use '@/styles/helpers' as *;

.item {
	display: flex;
	align-items: center;
	column-gap: to-rem(8);
	height: to-rem(40);

	&:not(:last-child) {
		border-bottom: var(--border);
	}
}

.customCheckbox {
	position: relative;
	font-size: 0;
	cursor: pointer;

	&:not(:has(.hiddenCheckbox:checked)) + .title {
		color: var(--color-text-dim);
	}
}

.hiddenCheckbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: 0;

	&:checked + .checkbox {
		background: var(--color-accent) url('../../assets/images/check.svg') 50% / 100% no-repeat;
		border: none;
	}

	&:focus-visible + .checkbox {
		outline: 2px solid var(--color-accent);
		outline-offset: -2px;
	}
	&:focus-visible:checked + .checkbox {
		outline: 2px solid var(--color-accent-dim);
		outline-offset: -2px;
	}
}

.checkbox {
	display: inline-flex;
	width: to-rem(24);
	aspect-ratio: 1;
	border: var(--border);
	border-width: 2px;
	border-radius: 50%;
}

.title {
	@include text-ellipsis(1);
	flex-grow: 1;
	text-transform: none;
}

.deleteBtn {
	flex-shrink: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: to-rem(32);
	height: to-rem(32);
	padding-inline: to-rem(12);
	color: var(--color-text-dim);
	background-color: var(--color-bg);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	cursor: pointer;

	&:hover {
		color: var(--color-text);
	}

	svg {
		flex-shrink: 0;
		width: to-rem(28);
		height: to-rem(28);
	}
}
